<?php

    // Set the SMTP server to send through
    $host       = 'ssl://smtp.gmail.com';

    // SMTP username
    $username   = 'username';

    // SMTP password
    $password   = 'password';

    // Enable implicit TLS encryption
    $SMTPSecure = 'SSL';

    // TCP port to connect to
    $port       = 465;

    // Mail Subject
    $subject    = 'Elegant Epoxy: Enquiry';

    // Mail Address
    $mails = [
        // 'rishabh.kumar@gmail.com' => 'Rishabh',
    ];